@import "vars";
@import "fonts";
@import "components";
@import "vendor";

body {
  font-family: 'Montserrat';
  background-color: $color-main;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.particlesjs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-section {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__content {
    text-align: center;
    margin-top: auto;
  }

  &__image {
    width: 100%;
    max-width: 100px;
  }
  &__title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-top: 0;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    color: $color-pimary;
  }
  &__main-link {
    font-weight: 400;
    text-decoration: none;
    color: $color-secondary;
    padding: 20px 30px;
    border: 1px solid transparent;
    transition: all 0.2s linear;
    margin: 20px 0;
    z-index: 1;
  }
  &__main-link:hover {
    border: 1px solid $color-secondary;
    box-shadow: 4px 4px 0 $color-secondary;
  }

  &__footer {
    z-index: 1;
    margin-top: auto;

    &-link {
      color: $color-secondary;
      font-weight: 400;
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid transparent;
      transition: all 0.2s linear;
    }

    &-link:hover {
      border: 1px solid $color-secondary;
      box-shadow: 4px 4px 0 $color-secondary;
    }
  }

  @media (max-width: 330px) {
    .header-section {
      &__image {
        max-width: 80px;
      }

      &__title {
        font-size: 2.3em;
      }

      &__subtitle {
        font-size: 0.8em;
      }
    }
  }
}
